.cocktailsCenter {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}
@media screen and (min-width: 576px) {
  .cocktailsCenter {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
